@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Het is vandaag @ViewBag.CurrentDate</p>
    <a asp-action="PersonalDataForm">Bereken het aantal dagen tot mijn verjaardag</a>
</div>
